.cabecalho{
    background-color: #10E726;
    color:green;

    display: flex;
    justify-content: space-around;

}

.imagem-cabecalho{
    width: 10%;

}

.time-cabecalho{

    display: inline-block;
margin: 0 16px;
}